.view-lista-empresas {
    padding: 1.5em 0;

    background-color: #d4edda;

    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );

    & > div {
        font-size: 1.2em;
        box-shadow: 10px 10px 5px grey;
        color: white;
        background-color: rgba(14,12,12,0.43);
        padding: 1.4em;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 1.2em auto;
        //background-color: lightgray;
        .views-field {
            margin: .5em 0;

            .field__label{
                font-style: italic;
            }
            .field__item {
                color: lightgreen;
            }

            a{
                color: lightblue;
                text-decoration: underline;
                font-weight: bold;
            }

            &.views-field-field-nombre-comercial {
                .field-content {
                        text-align: center;
                    a{
                        font-size: 1.4em;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: .5em;
                        border-radius: 20px;
                        transition: all .4s;
                        margin-top: 1.5em;

                        &:hover {
                            background-color: white;
                            color: orange;
                        }
                    }
                }

            }


            &.views-field-field-company-thumbnail  {
                margin: auto;
                .field-content * {
                    a, img {
                            display: block;
                            margin: auto;
                        
                    }

                }
                margin-bottom: 1em;
                padding-bottom: 1em;
                border-bottom: 1px solid white;
                width: fit-content;

                img {
                    width: 80%;
                    height: 180px;
                    border-radius: 100%;
                }
            }

            &.views-field-field-descripcion-de-la-empresa {
                .field__label {
                    text-align: center;
                    margin-bottom: .3em;
                }
                .field__item {
                    font-size: .9em;
                }
            }
        }


    } 
}

